<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestroWeb</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <!-- Include  CSS file -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!--  navigation menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">RestroWeb</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/uadd">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/postreview">Post feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nutritionsearch">Nutrition</a>
                    </li>
                 </ul>
                 
                
                 <form method="POST" action="/logout" style="align-items: end;">
                    <button type="submit" class="btn btn-warning">Logout</button>
                    </form>
            </div>
        </div>
    </nav>