
<%- include('header') %>
<!--page for staff to search any item for nutritional values-->

<div class="container">
    <h3>Enter the dish to be searched for nutritional values</h3>

    <form action="/nutrition1" method="get">
        <input type="text" name="dish" placeholder="Enter the dish ">
        <button class="btn btn-info" type="submit">Search</button>
    </form>
    
</div>

<%- include('footer') %>